<body>
<div class="hero">
    <app-navbar></app-navbar>
    <div class="content">
        <small>welcome to the</small>
        <h1>Misfit <br>Market Place</h1>
        <button type="button" class="button"  href="#" routerLink="/tour">Take a tour</button>
    </div>
    <div class="bubbles">
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
        <img  src="assets/images/bubble.png" alt="" >
    </div>
</div>
</body>

