<div class="hero-about">
    <div class="content-about">
        <h1 class="about-first">About</h1>
        <hr>
        <div class="about-sub-content">
            <p>We created a market place for <span class="misfit-change">The Misfits</span>, the socially-anxious, the wierd, the tired and the adventerous</p>
            <p class="about-move">to shop from the comfort of their home, with just few click away.</p>
            <p class="unlabelled">Have <span class="packages">Unlabelled packages </span>delivered to your preferred location.</p>
            <p class="restrictions"> There are no restrictions to the varities of products we offer. You think it, we most likely have it.</p>
        </div>
    </div>
</div>


